main#game {
	min-height: 0;

	justify-content: center;

	background: linear-gradient(var(--color-background-default) 0%, var(--color-background-variant) 100%);

	#left {
		flex: 1;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 30px;

		height: 100%;

		padding: 48px 24px;
		max-width: 375px;

		#titles {
			display: flex;
			justify-content: space-between;

			.main {
				margin-top: -15px;
			}

			#actions {
				align-items: flex-start;
				gap: 24px;
			}

			#counter {
				align-items: flex-end;
				gap: 6px;
			}
		}

		#turns {
			.turn-value {
				flex: 1;
			}

			&.bust {
				.turn-value {
					border-color: var(--color-others-danger) !important;
					color: var(--color-others-danger) !important;
				}
			}

			&.finish {
				.turn-value {
					background-color: var(--color-cta-default) !important;
					color: var(--color-background-variant) !important;
				}
			}

		}

		#players,
		#players-list {
			min-height: 0;
			height: 100%;
		}

		#players-list {
			overflow: auto;
		}
	}

	#right {
		flex: 1;

		display: flex;
		justify-content: center;
		align-items: center;

		padding: 12px 0 12px 12px;

		height: 100%;

		img {
			filter: drop-shadow(-15px 15px 0 var(--color-others-border));
		}
	}
}