main#game {
	min-height: 0;

	justify-content: center;

	background: linear-gradient(var(--color-background-default) 0%, var(--color-background-variant) 100%);

	gap: 48px;

	#left {
		flex: 1;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 36px;

		height: 100%;

		padding: 64px 48px;
		max-width: 455px;

		#titles {
			display: flex;
			justify-content: space-between;

			.main {
				margin-top: -15px;
			}

			#counter {
				align-items: flex-end;
				gap: 6px;
			}
		}

		#turns-title {
			align-items: flex-start;
			justify-content: space-between;
		}

		#turns {
			.turn-value {
				flex: 1;
			}
		}

		#players,
		#players-list {
			min-height: 0;
			height: 100%;
		}

		#players-list {
			overflow: auto;
		}
	}

	#right {
		flex: 1;

		display: flex;
		justify-content: center;
		align-items: center;

		max-width: 650px;
		max-height: 650px;

		height: 100%;

		img {
			filter: drop-shadow(-15px 15px 0 var(--color-others-border));
		}
	}
}