header {
	display: flex;
	align-items: center;

	width: 100%;

	padding: 0.75rem 3rem;

	border-bottom: 1px solid var(--color-others-border);

	background-color: var(--color-background-variant);

	&.reverse {
		background-color: var(--color-background-default);
	}

	.title {
		width: fit-content;
		font-size: 40px !important;
		line-height: 40px !important;
	}
}