// Utilities
@use "../../utils/variables";

main#setup {
	min-height: 0;

	background-color: var(--color-background-default);

	justify-content: center;


	width: 100%;

	gap: 48px;

	.title.main {
		width: min-content;
	}

	#full-screen-alert {
		pointer-events: none;

		position: fixed;
		top: -100%;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 40px;
		line-height: normal;

		background-color: var(--color-others-danger);
		color: var(--color-text-cta);

		text-align: center;
		z-index: 99;

		transform: translateY(-100%);

		transition: all 2000ms ease-out;

		&.show {
			top: 0;
			transform: translateY(0);
		}
	}

	#left {
		z-index: 2;

		flex: 1;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		height: 100%;

		max-width: 455px;
		padding: 64px 48px 0 48px;

		width: 100%;


		@media screen and (max-width: 1050px) {
			padding: 36px 24px 18px 24px;
			justify-content: center;

		}
	}


	#decoration {
		filter: drop-shadow(15px 15px 0 var(--color-background-variant));

		max-width: 650px;
		max-height: 650px;

		height: 80%;

		@media screen and (max-width: 1050px) {
			position: fixed !important;

			top: 50%;
			right: 0;

			opacity: 50%;
			transform: translate(50%, -50%);

			max-height: 720px;
			height: 62%;
		}
	}

	form {
		min-height: 0;
		overflow-y: auto;

		display: flex;
		flex-direction: column;
		gap: 36px;

		.title {
			margin-bottom: 12px;
		}

		@media screen and (max-width: 1050px) {
			gap: 24px;
			padding: 24px;
			border-radius: 12px;

			border: 1px solid var(--color-others-border);
			background-color: rgba(10, 26, 16, 0.75);
			// background-color: var(--color-text-cta);
			backdrop-filter: blur(10px);

			.title {
				font-size: 48px;
				line-height: 34px;
			}
		}
	}
}