footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	width: 100%;

	padding: 12px;

	background-color: var(--color-background-default);

	&.reverse {
		background-color: var(--color-background-variant);
	}

	#infos {
		display: flex;
		flex-wrap: wrap;

		align-items: flex-end;
		justify-content: flex-end;

		gap: 6px 24px;

		padding: 0;

		@media screen and (max-width: 950px) {
			font-size: 14px;
		}

		p {
			font-weight: 700;

			&#author {
				opacity: 75%;
				text-decoration: underline;
			}

			&#build-date {
				color: var(--color-cta-default);
				opacity: 50%;
			}
		}
	}
}