#loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	z-index: 999;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--color-background-default);

	pointer-events: none;

	img {
		animation: rotation 2s infinite linear;

		max-width: 80%;
		max-height: 80%;

		@keyframes rotation {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(359deg);
			}
		}
	}
}